MONGODB_URI=mongodb://mongodb:27017/dpdmongo?authSource=admin
SESSION_SECRET=foooo
SMTP_HOST=mailcatcher
SMTP_PORT=1025
SMTP_USER=yoursmtpuser
SMTP_PASS=yoursmtppassword
ADMIN_EMAIL=adminaccountemail@example.com
EMAIL_SENDER=automatedemailfromaddress@example.com
HOME_URL=your.domain.com
IMPORT_API_USERS=api-user-1,api-user-2
IMPORT_API_KEYS=api-key-1,api-key-2

# For local development with smtp4dev
# SMTP_HOST=smtp4dev
# SMTP_PORT=2525
# SMTP_USER=
# SMTP_PASS=
# SMTP4DEV_UI_PORT=8080
# SMTP4DEV_SMTP_PORT=2525
