MONGODB_URI=mongodb://mongodb:27017/dpdmongo?authSource=admin
SESSION_SECRET=foooo
SMTP_HOST=your.smtpserver.com
SMTP_PORT=587
SMTP_USER=yoursmtpuser
SMTP_PASS=yoursmtppassword
ADMIN_EMAIL=adminaccountemail@example.com
EMAIL_SENDER=automatedemailfromaddress@example.com
HOME_URL=your.domain.com
IMPORT_API_USERS=api-user-1,api-user-2
IMPORT_API_KEYS=api-key-1,api-key-2
