# pip
Pipfile.lock

# node
node_modules

# VSCode
.vscode

# macOS
.DS_Store

# Logs
*.log
*.dump

# Local configs
config.js
.env
.env.development
!server/
server/configs/*
!server/configs/basePathConfig.js
!server/configs/defaultUserConfig.js

# Certificates and keys
certs/
*.key
*.crt
*.pem
!global-bundle.pem

# Local utilities and configs
check-dist.js
npm/

# Built code
*.map
*.min.js
docs/build
public/js
public/css
public/index.html
dist

app_build


# CDK asset staging directory
.cdk.staging
cdk.out
